@charset "utf-8";

/* SELEKTORY html*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
}

nav {
	height: 60px;
	background-color: #777777;
}

footer {
	height: 250px;
	background-color: #376573;
	text-align: center;
}

ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #777777;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	
	display: flex;
}

ol li {
	flex: 1 1 100px;
}

ol li a {
	text-decoration: none;
	color: white;
	
	display: block;
}

ol li a:hover {
	text-decoration: none;
	background-color: #376573;
	color: white;
}

*{box-sizing: border-box; }

/*SELEKTORY id*/

#picture {
	height: 715px;
	opacity: 0.95;
	background-image: url(../img/kontakt.png);
	text-align: center;
	position: relative;
	margin: 10px 0;
	background-color: #773436;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#form {
	background-color: #376573;
	text-align: center;
	padding: 70px 0 70px 0;
	letter-spacing: 2px;
	font-size: 24px;
	line-height: 30px;
}

#form h1 {
	color: white;
	padding: 10px;
}

#contactData {
	background-color: #376573;
	text-align: center;
	padding: 40px 0 70px 0;
	letter-spacing: 2px;
	font-size: 24px;
	line-height: 30px;
}

#contactData h1 {
	color: white;
	padding: 10px;
}

#contactData span {
	letter-spacing: 1px;
}

#contactData ul {
	padding: 10px;
	color: white;
}

#name {
	width: 800px;
	height: 30px;
	padding: 3px;
	margin: 10px;
}

#mail {
	width: 800px;
	height: 30px;
	padding: 3px;
	margin: 10px;
}

#message {
	width: 800px;
	height: 150px;
	padding: 3px;
	margin: 10px 0 5px 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

#copy {
	color: #111;
	padding-top: 120px;
	padding-down: 20px;
	font-size: 15px;
}

#sendForm {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 2px;
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}

#sendForm:hover {opacity: 1}

#copy a {
	text-decoration: none;
	color: #111;
}

/* SELEKTORY class*/
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.incorrect {
	font-weight: 600;
	color: #f4511e;
	font-size: 13px;
	max-width: 1200px;
	text-align: left;
	margin-left: 250px;
}

.containerSocialMedia {
	padding: 10px;
}

.socialMedia {
	text-decoration: none;
	font-weight: 900;
	font-size: 20px;
	padding: 20px;
	float: left;
}

.socialMedia a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 20px;
	padding: 10px;
}

.up {
	text-align: right;
	padding: 20px;
	margin-right: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	cursor: pointer;
}